<h1>DBZ Personajes</h1>
<hr>

<div class="row">
  <div class="col">
    <!-- En dbz-list se envia los personajes al hijo: [caracterList]="characters"  -->
    <!-- <dbz-list [characterList]="characters"
      (onDelete)="onDeleteCaracter($event)"></dbz-list> -->
      <!-- <dbz-list [characterList]="dbzService.characters"
      (onDelete)="dbzService.onDeleteCaracter($event)"></dbz-list> -->
      <!-- Como se cambio el metodo onDeleteCaracter por deleteCharacterById, se debe de cambiar el dbz-list para recibir un string -->
      <!-- Para solucionar el se hizo el llamado de onDeleteCharacter que se creo en el main-page.component-->
      <!-- <dbz-list [characterList]="characters"
      (onDelete)="dbzService.deleteCharacterById($event)"></dbz-list> -->
      <dbz-list [characterList]="characters"
      (onDelete)="onDeleteCharacter($event)"></dbz-list>
  </div>

  <div class="col">
    <!-- dbz-add-character: Este componente personalizado puede o no emitir valores -->
    <!-- Cuando se emita un personaje en el formulario se debe de pasar ese dato al character definido en mi MainPageComponent (padre) -->
    <!-- Como se quiere escuchar un evento se usa (), como vamos a escuchar cuando se emita un nuevo personaje se usa  (onNewCharacter) -->
    <!-- <dbz-add-character (onNewCharacter)="dbzService.onNewCharacter($event)"></dbz-add-character> -->
    <dbz-add-character (onNewCharacter)="onNewCharacter($event)"></dbz-add-character>

  </div>
</div>
